<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=places,key=AIzaSyCoKTsUyTkHVTRQIcDNxZkPrwL-aunhQL4">
</script>

<style type="text/css">
  html, body { height: 100%; margin: 0; padding: 0;}
  #map-canvas { height: 300px; width: 300px;}
</style>

<script type="text/javascript"> 

  var coordinates = {lat: 0, lon: 0}; 

  navigator.geolocation.getCurrentPosition(set_coordinates);
  function set_coordinates(obj) {
    coordinates.lat = obj.coords.latitude;
    coordinates.lon = obj.coords.longitude;
    $('input.latitude').val(obj.coords.latitude);
    $('input.longitude').val(obj.coords.longitude);
    generateMap();
  }

  $("form.memory_form").submit(function (event) {
    if ($('input.latitude').val() == "") {
      alert("You do not have a location!");
      event.preventDefault();
    }

  });

var map;
var service;
var infowindow;

function generateMap() {
  var place_name = new google.maps.LatLng(coordinates.lat, coordinates.lon);

  map = new google.maps.Map(document.getElementById('map-canvas'), {
      center: { lat: coordinates.lat, lng: coordinates.lon},
      zoom: 15
    });
  var request = {
    location: place_name,
    radius: '5',
    // rankBy: google.maps.places.RankBy.DISTANCE,
    // types: ['store']
  };

  service = new google.maps.places.PlacesService(map);
  service.nearbySearch(request, callback);
}

function callback(results, status) {
  if (status == google.maps.places.PlacesServiceStatus.OK) {
    // debugger 
    for (var i = 0; i < results.length; i++) {
      console.log(results[i]["vicinity"]);
      $('input.place_id').val(results[i]["place_id"]);
      $('input.city').val(results[i]["vicinity"]);

    // $('input.longitude').val(obj.coords.longitude);
    }
  }
}

// google.maps.event.addDomListener(window, 'load', generateMap);


</script>

  <div class="memory_create">

  <form method="POST" action="/memory/create" class='memory_form'>
    <label for="memories">Enter your Memory:</label>
    <input class="memoryfield" type="text" name="comment" value="" placeholder="What was memorable about this spot?"><br><br>
    <label for="url">Photo URL:</label>
    <input type="text" name="url" value="" placeholder="Add a URL of a photo"><br><br>
    <label for="category">Enter the category:</label>

<!--     <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" name="category"> Categories <span class="caret"></span>
        </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Food</a></li>
            <li><a href="#">View</a></li>
            <li><a href="#">Landmark</a></li>
            <li><a href="#">Venue</a></li>
          </ul>
        </div><br><br> -->

    <input type="hidden" name="longitude" class="longitude">
    <input type="hidden" name="latitude" class="latitude">
    <input type="hidden" name="city" class="city">
    <input type="hidden" name="address" class="place_id">
    <input type="submit" value="Save" class = "submit_btn">
  </form>
  </div>