<h1 class="">Specific Memory/City</h1>
<div style="width: 100%;">
   <div style="float:left; width: 80%">

   Specific Memory or list of city memories
   <h1><%= @memory.category %></h1>
    <h1><%= @memory.photo_url %></h1>
    <a href="@memory.photo_url">Ruby</a>
    <img src = "@memory.photo_url" >
   </div>
   <div style="float:right;">
   Map!
   </div>
</div>
<div style="clear:both"></div>