<h1 class="">Specific Memory/City</h1>
<div style="width: 100%;">

   <div style="float:left; width: 80%">

   Specific Memory or list of city memories
   <% @memory.each do |memory|%>

   <h1><%= memory.comment %></h1>

    <img src = <%=memory.photo_url %> >
    
    <%end%>

   </div>


   <div style="float:right;">
   Map!
   </div>

</div>
<div style="clear:both"></div>