<h1 class="">List of Cities</h1>
<div style="width: 100%;">
   <div style="float:left; width: 80%">
   Cities
   </div>
   <div style="float:right;">
    <% @memory.each do |memory|%>


   <h1><%= memory.city %></h1>
   <h3>memories made <%= memory.created_at %></h3>


    <img class="memory_image" src = <%=memory.photo_url %> >
    <%end%>
   </div>
   Map!
   </div>
</div>
<div style="clear:both"></div>