
  <div class="memories" data-memory-ids="<%= @memories.pluck(:id).to_json %>">

    <div class="city_title">
      <h1>My Places</h1>
    </div>

    <div class="memory_list">
      <% @memories.each do |memory|%>

        <div class="memory_block">
         <a href = "/memory/<%=memory.id%>"><h1><%= memory.city %></h1></a>
          <div class = "memory_block_photo">
          </div>
        </div>

        <div class="memory_space">
        </div>

      <%end%>

    </div>

  </div>



  <div class="map_rightdisplay">

    <script src="http://maps.googleapis.com/maps/api/js">
    </script>

    <div id="googleMap" class= "google_map"> 
    </div>

  </div>
