<div class="container">

  <div class="jumbotron">
    <div class="search_bar">
      <form method="POST" action="/" class="search_bar">
    
        <label for="category">Enter the category:</label><br>
        <select class="search-input" name = "category">
          <option value="nil" selected></option>
          <option value="Food">Food</option>
          <option value="View">View</option>
          <option value="Landmark">Landmark</option>
          <option value="Venue">Venue</option>
        </select><br><br>

        <div class="form-group">
          <input type="text" class="search-input" placeholder="City" value="" name="city">
        </div>

        <input class="searchbutton" type="image" src="/img/button2.png" value="search" alt="Submit Form"/>
        
      </form>




    </div>  
  </div>




<div id="memory_display" class="js-masonry"
  data-masonry-options='{ "columnWidth": 200, "itemSelector": ".item" }'>
<% @memories.each do |memory|%>
  <a href="memory/<%=memory.id%>"><div class="memory_square well">
    <h1><%= memory.city %></h1>
      <h5>Memory Made On: <br><%= memory.created_at.strftime("%A, %d %B %Y ") %></h5>
        <div class="city_photo">
          <img class="memory_image" src = <%=memory.photo_url %> >
        </div>
  </div></a>
  <%end%>
</div>
  
</div>