<h1 class="">Home Page</h1>
<div style="width: 100%;">
   <div style="float:left; width: 80%">
   List of Shit
   </div>
   <div style="float:right;">
   Map!
   </div>
</div>
<div style="clear:both"></div>
