<div class="container">

  <div class="jumbotron">
    <div class="search_bar">
      <form method="POST" action="/" class="search_bar">
    
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" name="category"> Categories <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Food</a></li>
            <li><a href="#">View</a></li>
            <li><a href="#">Landmark</a></li>
            <li><a href="#">Venue</a></li>
          </ul>
        </div><br><br>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="City" name="city">
        </div>
          <input class="searchbutton" type="image" src="./img/button2.png" value="search" alt="Submit Form" />
      </form>
    </div>  
  </div>

<div id="memory_display" class="js-masonry"
  data-masonry-options='{ "columnWidth": 200, "itemSelector": ".item" }'>
<% @memories.each do |memory|%>
  <div class="memory_square well">
    <h1><%= memory.city %></h1>
      <h5>Memory Made On: <br><%= memory.created_at.strftime("%A, %d %B %Y ") %></h5>
        <div class="city_photo">
          <img class="memory_image" src = <%=memory.photo_url %> >
        </div>
  </div>
  <%end%>
</div>
  
</div>